extends layout

block content
 div.home-containner
   hl Hello.
   p.lead A boilerplate for Node.js web applications.
   a.btn.btn-secondary(href='https://gitlab.com/moonlight-academy/express-ts-sta   